html {
  height: 100%;
  font-size: 14px;
}

body {
  font-family: 'Lato', sans-serif;
  color: var(--text-color);
  background-color: var(--surface-ground);
  margin: 0;
  padding: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

.layout-wrapper {
  min-height: 100vh;
}

/* custom scrollbar stylization */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--p-surface-200);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: var(--content-border-radius);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}
/* custom scrollbar stylization */
